manifest {
    name = 'DAP differentially methylated region analysis (development)'
    description = 'Differentially methylated region analysis with limma and DMRcate.'
    version = 'dev'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.10.0'
}

params.r_image = 'bioconductor/bioconductor_docker:RELEASE_3_23'
params.python_image = 'python:3.12-slim'
params.dap_output_uri = null
