params {
    genotype_uri = null
    genotype_format = 'mt'
    genotype_sha256 = ''
    bgen_sample_uri = ''
    phenotype_uri = null
    phenotype_sha256 = ''
    dap_output_uri = null
    cohort_id = null
    output_dir = 'results'
    reference_genome = 'GRCh38'
    sample_id_column = 's'
    phenotype_column = null
    covariate_columns = ''
    min_gq = 20
    min_dp = 10
    min_call_rate_variant = 0.95
    min_call_rate_sample = 0.95
    min_maf = 0.01
    min_hwe_p = 1e-6
    n_pcs = 10
    ld_prune = true
    ld_prune_r2 = 0.2
    ld_prune_window = 500000
    pca_max_variants = 200000
    min_samples_retained = 100
    min_variants_retained = 10000
    min_lambda_gc = 0.8
    max_lambda_gc = 1.2
    hail_image = 'hailgenetics/hail:0.2.133'
    hail_driver_memory = '24g'
}
