manifest {
    name = 'DAP cohort GWAS'
    version = '0.1.0'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.10.0'
}

params {
    output_dir = 'results'
}

process {
    errorStrategy = 'terminate'
}

profiles {
    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
    }
}

report {
    enabled = true
    file = 'nextflow-report.html'
}

timeline {
    enabled = true
    file = 'nextflow-timeline.html'
}

trace {
    enabled = true
    file = 'nextflow-trace.tsv'
}

dag {
    enabled = true
    file = 'nextflow-dag.html'
}
