manifest {
    name = 'DAP GWAS Hail binary traits'
    description = 'Binary-trait Hail GWAS using logistic regression.'
    version = 'dev'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.10.0'
}

includeConfig '../hail_gwas/common.config'

params.phenotype_type = 'binary'

process.errorStrategy = 'terminate'
