manifest {
    name = 'DAP GWAS PLINK2 quantitative traits'
    description = 'Quantitative-trait PLINK2 GWAS with QC and PCA covariates.'
    version = 'dev'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.10.0'
}

params.plink2_image = 'quay.io/biocontainers/plink2:2.00a5.12--h9948957_1'
params.python_image = 'python:3.12-slim'
params.dap_output_uri = null
